{% extends 'blog/base.html' %}

{% block content %}
    <h2> <p class="loginh2" > login</p></h2 >
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p><a href="{% url 'password_reset' %}">reset password</a></p>
    <p class="fab fa-studiovinari">Don't have an account?</p><p class="fab fa-studiovinari" ></p>
    <p><a href="{% url 'signup' %}" title="downthe rabbithole" class="fab fa-studiovinari"  >FollowMe</a ></p>

{% endblock %}