{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static '\css\blog.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>	
<body>
  <div class="page-header">
    {% if  user.is_authenticated %}
     <a href="{% url 'postDraftlist' %}" class="top-menu"> <span class="far fa-edit fa-2x"></span></a>
     <a href="{% url 'postNew' %}" class="top-menu"> <span class="fas fa-plus fa-2x"></span></a>
    
    <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log Out</a>)</small></p>
     {% else %}
    <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-sign-in-alt fa-2x"></i></a>
     {% endif %}
    <h1><a href="{% url "postsList" %}">MyBlog</a></h1>
  </div>
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>

