<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
<link rel="stylesheet"  href="file:///C:/Users/lenovo/Downloads/cmder/blogapp/blog/static/css/footerShare.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
   <ul>
       <li><a href="#"><i class="fa fa-github"></i></a></li>    
       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
       <li><a href="#"><i class="fa fa-behance-square"></i></a></li>
       <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
       <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
       <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
       <li><a href="#"><i class="fa fa-instagram"></i></a></li>
       <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
       <li><a href="#"><i class="fa fa-tumblr-square"></i></a></li> 
   </ul>             
</body>
</html>