body{
    background: url(https://i.pinimg.com/236x/39/a7/91/39a791a4c82a46272b51cd19e3cfd471--paisley-pattern-lace-patterns.jpg) ;
    background: url(https://cdn.shopify.com/s/files/1/0879/0542/products/pc1478_da4bcba9-c02d-40bd-88c6-8b32119d8933_1024x1024.jpg?v=1513990783);
    background-color: lightgoldenrodyellow;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    color: whitesmoke;
    font-weight:500;
}

.fa, .fas, .far {
    color: rosybrown;
    font-weight: 900;
    text-shadow: 2px 0px 6px #010101, 1px 1px 5px #030303;
}

.fa:active, .fas:active, .far:active {
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.7);
}

.fa:hover, .fas:hover, .far:hover {
    color: whitesmoke;
    font-weight: 900;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    background-color: rgb(49, 12, 180);
 }

page-header h1, .page-header h1 a:active {
    color: #f8f9fa;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.7);
}

page-header h1, .page-header h1 a:hover {
    color: #f8f9fa;
    font-size: 36pt;
    text-decoration: none;
}
page-header h1, .page-header h1 a {
    color: rosybrown;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 2px 0px 6px #010101, 1px 1px 5px #030303;
}

/*
this will make everything like Rafeh Qazi's blogpage font and sizes
h1, h2, h3, h4 {
  font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
  font-size: 48px;
}
*/

.content {
  margin-left: 40px;
}

/*body {
    background-color: paleturquoise;
}*/

body h1 a {
  color: #e9e7e749;
}

.date {
  color: darkgoldenrod
}

.post {
    margin-bottom: 70px;
}

.post h1 a:active {
    color: #f8f9fa;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.7);
}
.post h1 a {
    color: cornflowerblue;
    text-shadow: 0px 1px 0px #900000;
}

.post-form-blog textarea {
    width:100%;
}

.post-form-blog .btn-primary {
  float: right;
}

.top-menu{
    color: rgb(49, 12, 180);
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
